<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ja.assets">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" /> <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 更改设置 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" /> <!-- 消息通知栏 -->
    <uses-permission
        android:name="android.permission.STATUS_BAR_SERVICE"
        tools:ignore="ProtectedPermissions" /> <!-- 二维码扫描权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 相机权限 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" /> <!-- 允许安装位置来源的软件 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".config.JavaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:icon">

        <activity
            android:name="com.ja.assets.new_code.bussiness.me.UpdatePasswordFirstActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="com.ja.assets.new_code.bussiness.inventory.NewCode_InventoryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="com.ja.assets.new_code.bussiness.diaopei.DiaoPeiGuanliActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="com.ja.assets.new_code.bussiness.diaopei.DiaopeiBumenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.NoTitleBar" />


        <activity
            android:name="com.ja.assets.new_code.bussiness.diaopei.DiaopeijiluActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="com.ja.assets.new_code.bussiness.diaopei.DiaopeijiluxiangqingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.NoTitleBar" />



        <activity
            android:name="com.ja.assets.new_code.bussiness.diaopei.DiaopeizichanliebiaoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="com.ja.assets.new_code.bussiness.inventory.YipandianActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="com.ja.assets.new_code.bussiness.inventory.ZichanbaobiaoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"

            android:theme="@style/MyAppTheme" />


        <activity
            android:name="com.ja.assets.new_code.bussiness.inventory.NewCode_ZichanliebiaoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"

            android:theme="@android:style/Theme.NoTitleBar" />

        <activity
            android:name="com.ja.assets.new_code.bussiness.me.NewCode_SetUpActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />


        <activity android:name=".ui.activity.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.ja.assets.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.repair.SelectAssetsActivity"
            android:label="@string/selectAssets" />
        <activity
            android:name=".ui.activity.purchase.DepartmentActivity"
            android:label="@string/department" />
        <activity
            android:name=".ui.activity.repair.RepairNewAddActivity"
            android:label="@string/repairNewAdd" />
        <activity
            android:name=".ui.activity.repair.RepairApplyActivity"
            android:label="@string/repairApply" />
        <activity
            android:name=".ui.activity.repair.RepairInfoActivity"
            android:label="@string/repairInfo" />
        <activity
            android:name=".ui.activity.patrol.PatrolCheckDetailActivity"
            android:label="@string/patrolCheckDetail" />
        <activity
            android:name="com.ja.assets.new_code.bussiness.Patrol.NewCode_PatrolCheckDetailActivity"
            android:label="@string/patrolCheckDetail"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.ja.assets.new_code.bussiness.Patrol.Jilu_PatrolCheckDetailActivity"
            android:label="@string/patrolCheckDetail"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.activity.patrol.PatrolCheckListActivity"
            android:label="@string/patrolCheckList" />
        <activity
            android:name="com.ja.assets.new_code.bussiness.Patrol.NewCode_PatrolCheckListActivity"
            android:label="@string/patrolCheckList"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name="com.ja.assets.new_code.bussiness.Patrol.Jilu_Code_PatrolCheckListActivity"
            android:label="@string/patrolCheckList"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.activity.patrol.PatrolCheckRecordActivity"
            android:label="@string/patrolCheckRecord" />
        <activity
            android:name=".ui.activity.patrol.PatrolCheckActivity"
            android:label="@string/patrolCheck" />
        <activity
            android:name=".ui.activity.dispose.DisposeAddAttrActivity"
            android:label="@string/disposeAdd" />
        <activity
            android:name=".ui.activity.dispose.DisposeApplyActivity"
            android:label="@string/disposeApply" />
        <activity
            android:name=".ui.activity.inventory.InventoryRecordActivity"
            android:label="@string/inventoryRecord" />
        <activity
            android:name=".ui.activity.inventory.InventoryActivity"
            android:label="@string/inventory" />
        <activity
            android:name=".ui.activity.allocation.AllocationAddActivity"
            android:label="@string/allocationAdd" />
        <activity
            android:name=".ui.activity.purchase.PurchaseApplyActivity"
            android:label="@string/purchaseApply" />
        <activity
            android:name=".ui.activity.allocation.AllocationAuditActivity"
            android:label="@string/allocationAudit" />
        <activity
            android:name=".ui.activity.allocation.AllocationApplyActivity"
            android:label="@string/allocationApply" />
        <activity
            android:name=".ui.activity.purchase.PurchaseRecordActivity"
            android:label="@string/purchaseRecord" />
        <activity
            android:name=".ui.activity.purchase.PurchaseAuditActivity"
            android:label="@string/purchaseAudit" />
        <activity
            android:name=".ui.activity.purchase.PurchaseNewAddActivity"
            android:label="@string/purchaseNewAdd" />
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.activity.other.SweepCodeActivity"
            android:label="@string/sweepCode" />
        <activity
            android:name=".ui.activity.other.SetUpActivity"
            android:label="@string/setsUp" />
    </application>

</manifest>